<div class="container">

    <input *ngIf="!canAdd" type="button" value="Show Form" (click)="toggleFlag()" />
    <input *ngIf="canAdd" type="button" value="Hide Form" (click)="toggleFlag()" />
    
    <div class="mini-form" *ngIf="canAdd">
        <input class="form-control" type="text" name="memberName" placeholder="Name" (keyup)="editMemberName($event)"/>
        <br>

        <select class="form-control" (change)="changeTeam($event)">
            <option value="0">Select Team...</option>
            <option *ngFor="let team of _teams" value="{{ team.id }}">{{ team.name }}</option>
        </select>
        <br>
        
        <input class="form-control" type="button" value="Add Member" (click)="addMember()" />
    </div>
  
</div>
